# Node.js
/node_modules
npm-debug.log
.env

# React Native
/app/ios/build
/app/android/build
/app/android/.gradle
/app/android/app/build
/app/android/app/.cxx
/app/android/app/.idea
/app/android/local.properties
/app/android/key.jks
.xcode.env.local

# Backend Nodejs,Expressjs
/backend/node_modules

# Extention (React)
/extention/dist
/extention/node_modules

# macOS (if you're a Mac user)
.DS_Store

# VS Code
.vscode/

# Environment
app/.env
backend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
README.local.md

# web
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/web/.pnp
/web/.pnp.*
/web/.yarn/*
!/web/.yarn/patches
!/web/.yarn/plugins
!/web/.yarn/releases
!/web/.yarn/versions

# testing
/web/coverage

# next.js
/web/.next/
/web/out/

# production
/web/build
/web/public

# misc
/web/.DS_Store
/web/*.pem

# debug
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/web/.env*

# vercel
/web/.vercel

# typescript
/web/*.tsbuildinfo
/web/next-env.d.ts