name: Vercel Production Deployment

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  NEXTAUTH_URL: ${{ secrets.NEXTAUTH_PRODUCTION_URL }} 
  MONGODB_URI: ${{ secrets.MONGODB_URI }}
  DATABASE_NAME: ${{ secrets.DATABASE_NAME }}

on:
  push:
    branches:
      - main
    paths:
      - 'web/**'

jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: web
        
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4 
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Build Project Artifacts (with ENV variables)
        run: |
          MONGODB_URI="${{ env.MONGODB_URI }}" \
          DATABASE_NAME="${{ env.DATABASE_NAME }}" \
          NEXTAUTH_URL="${{ env.NEXTAUTH_URL }}" \
          vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
        
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
        env:
          NEXTAUTH_URL: ${{ env.NEXTAUTH_URL }}
          MONGODB_URI: ${{ env.MONGODB_URI }}
          DATABASE_NAME: ${{ env.DATABASE_NAME }}